header.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10px;
  background: #010101;
  color: #2cb67d;
  font-family: "Ranchers", cursive;
  letter-spacing: 2px;
  h1 {
    cursor: pointer;
  }
  // border-bottom: 6px solid #7f5af0;
  // animation: border-bottom-header 12s both infinite;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    h2 {
      cursor: pointer;
    }
  }
  svg {
    fill: #2cb67d;
    width: 30px;
  }
  @media (max-width: 800px) {
    height: 60px;
    div {
      width: 40%;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    svg {
      width: 25px;
    }
  }
}

@keyframes border-bottom-header {
  to {
    border-bottom-color: #2cb67d;
  }
}
